<ion-header>
  <ion-toolbar>
    <ion-title>Tu nueva meta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form role="form" [formGroup]="form">


    <ion-list>
      <ion-radio-group name="auto" formControlName="type">
        <ion-list-header class="ion-text-center">
          <ion-label>¿Qué quieres lograr?</ion-label>
        </ion-list-header>

        <ion-item lines="none">
          <ion-label>Comprar algo</ion-label>
          <ion-radio value="Buy"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Viajar</ion-label>
          <ion-radio value="Travel"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Hacer algo</ion-label>
          <ion-radio value="Do"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Solo ahorrar</ion-label>
          <ion-radio value="Save"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="floating">¿Cúanto quieres ahorrar?</ion-label>
      <ion-input inputmode="numeric" type="number" formControlName="value"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label>Plazo para lograrla</ion-label>
      <ion-datetime displayFormat="MMM DD YY" placeholder="Eligir fecha" cancel-text="Cerrar" done-text="Elegir"
        monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" [min]="minDate"
        formControlName="dateLimit"></ion-datetime>
    </ion-item>

  </form>


</ion-content>

<ion-footer class="ion-no-padding ion-no-border">
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="close()" color="danger" expand="block" fill="clear" shape="round"
        class="ion-text-capitalize">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="save()" color="success" expand="block" fill="clear" shape="round" class="ion-text-capitalize"
        [disabled]="!form.valid || valueField.dirty">
        Guardar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>