<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="profile$ | async as profile">
      <ion-chip slot="start">
        <ion-avatar>
          <img [src]="profile.avatar">
        </ion-avatar>
        <ion-label>{{ profile.name }}</ion-label>
      </ion-chip>
    </ng-container>

    <ion-title>
      Tus metas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus metas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar type="indeterminate" *ngIf="loading$ | async"></ion-progress-bar>

  <ng-container *ngIf="goals$ | async as goals">

    <ng-container *ngIf="goals.length === 0; else elseListGoalsTemplate">
      <ion-grid style="height: 100%">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">

          <ion-note class="ion-text-center">
            <h3>No tienes metas registradas</h3>
            <ion-button color="success" expand="block" fill="clear" shape="round" (click)="presentModalNewGoal()">
              Crear meta
            </ion-button>
          </ion-note>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-template #elseListGoalsTemplate>

      <ion-item *ngFor="let goal of goals" (click)="presentModalEditGoal(goal)">

        <ng-container *ngIf="goal.numberRules && goal.numberRules > 0; else elseNumberRulesTemplate">
          <ion-badge color="success" slot="start">{{ goal.numberRules }}</ion-badge>
        </ng-container>
        <ng-template #elseNumberRulesTemplate>
          <ion-badge color="danger" slot="start">0</ion-badge>          
        </ng-template>
        
        <ion-label>
          <h2>{{ goal.value | currency }}</h2>
          <p *ngIf="goal.description"> {{ goal.description }} </p>
        </ion-label>
        <ion-icon name="settings" slot="end"></ion-icon>
      </ion-item>

    </ng-template>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="goals.length > 0">
      <ion-fab-button (click)="presentModalNewGoal()" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ng-container>

</ion-content>