ion-content {
  --ion-background-color: #ffffff;
}
ion-footer {
  --ion-background-color: #ffffff;
}

ion-grid {
  margin-top: 7rem;
}

h2 {
  color: #222428;
}

.logo-init {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}
