<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="profile$ | async as profile">
      <ion-chip slot="start">
        <ion-avatar>
          <img [src]="profile.avatar">
        </ion-avatar>
        <ion-label>{{ profile.name }}</ion-label>
      </ion-chip>
    </ng-container>
    <ion-title>
      Simulador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simulador</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar type="indeterminate" *ngIf="loading$ | async"></ion-progress-bar>

</ion-content>